.smartphone{
    margin-top: 90px;
}
.card{
    border: none;
    box-shadow: 2px 2px 10px lightgray;
}
.seeall{
    color: rgb(219, 219, 10);
    font-size: 15px;
    text-decoration: none;
}
.buy-now-button{
    background-color: rgb(226, 42, 73);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: 1s;
}
.buy-now-button:hover{
    transform: scale(1.1);
}
.laptop{
    margin-top: 90px;
}
.categories{
    margin-top: 150px;
}
.cate{
    border-bottom: 5px solid yellow;
    margin-bottom: 100px;
}
.ddd{
    height: 100px;
    width: 120px;
    margin-left: 160px;
}
footer{
    text-align: center;
}